img {
    margin-right: 1500px;
    }

    button.btn.btn-primary {
    margin-top: 29px;
    float: right;
    }
    mat-toolbar-row.mat-toolbar-row {
    background-color: azure;
    }
    .schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.willsmith,
    .schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.willsmith {
    background-color: #faebd7; }
    .schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.alice,
    .schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.alice {
    background-color: #deecfc;
    }

    .schedule-group-custom-work-days.e-schedule .e-month-view .e-work-days.robson,
    .schedule-group-custom-work-days.e-schedule .e-vertical-view .e-work-hours.robson {
    background-color: #deeeac;
    }

    .schedule-group-custom-work-days.e-schedule .e-vertical-view .e-resource-cells {
    height: 62px;
    }
    .schedule-group-custom-work-days.e-schedule .template-wrap {
    display: flex;
    text-align: left }

    .schedule-group-custom-work-days.e-schedule .template-wrap .resource-image {
    background-repeat: no-repeat; background-size: 45px;
    height: 45px;
    width: 45px; }

    .schedule-group-custom-work-days.e-schedule .template-wrap .resource-details {
    padding-left: 10px;
    }

    .schedule-group-custom-work-days.e-schedule .template-wrap .resource-details .resource-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    }
    .schedule-group-custom-work-days.e-schedule.e-device .template-wrap .resource-details .resource-name {
    font-size: inherit;
    font-weight: inherit;
    }
    .schedule-group-custom-work-days.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
    height: 50px;
    }

    .schedule-group-custom-work-days.e-schedule.e-device .template-wrap .resource-details .resource-designation { display: none;
    }
    img.img2 {
    padding-left: 13px;
    cursor: pointer;
    }


    //---------FORM start------------
    .modal-content {
    width: max-content;
    }



    hr{
    border-top: 1px solid #f8f9fa;
    }

    .card-header {
    background-color:#eee;
    -webkit-text-fill-color: black;


    }
    .card-body {
    background-color: #454e5c;
    }

    .modal-content {
    width: max-content;
    }

    hr{
    border-top: 1px solid #f8f9fa;
    }

    .btn-primary {
    background-color: #848484;
    border-color: #999999;
    color: #FFFFFF;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.22);

    }

    .check1 {
    margin-left: -10px;
    }

    .finish1 {
    margin-left: -100px;

    }
    .btn-continue:hover{
    background-color:rgb(175, 175, 100);
    }
    button.btn.btn-warning.ng-star-inserted {
    color: white;
    background-color:#f8ac59;
    border-color: #f8ac59;
    }
    //----------FORM-END---------------
    .searchf{
    margin-left: -1200px;
    webkit-text-fill-color:white;


    }
    .searchf1{
    margin-left: 200px;

    }

    .form-control{
    font-size: 14px;
    border-left: 1px solid #CCC !important;
    border-top: 1px solid #CCC !important;
    border-right: 1px solid #CCC !important;
    border-bottom: 3px solid #36cc95
    }
    mat-panel-title.mat-expansion-panel-header-title {
    background-color: rgb(179, 179, 174);
    }
    h3 {
    color:black;
    border-top: 4px solid #1AB394 !important;
    background: #eee;
    }
    h1{
    background:antiquewhite;
    text-transform: uppercase;
    text-align: center;
    }
    img {
    border-radius: 88px;
    height: 52px;
    width: 137px;
    }
    input.e-input.e-lib.e-keyboard {
    padding-bottom: 10px;
    padding-top: 24px;
    }

    button.btn.btn-warning.pull-right {
    margin-left: 730px;
    }
    button.btn.btn-warning.pull-right {
    margin-bottom: 66px;
    }
    label.btn.btn-default.active {
    background:green;
    }
    button.btn.btn-secondary{
        width: 90px;
    }
    button.btn.btn-secondary {
        text-align: center;
        width: 90px;
    }
    // button.btn.btn-warning {
    // margin-right: 47px;
    // }

    // button.btn.btn-secondary {
    // margin-right: 39px;
    // }
    // button.btn.btn-primary {
    // margin-bottom: 72px;
    // }
    .ttt {
    float: right;
    }
    button.btn.btn-primary{
    margin-top: 0px;
    float: right;
    }
    button.btn.btn-secondary {
    width: 82px;
    }
    .ibox-title {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    }
    input.e-input.e-lib.e-keyboard {
    padding-bottom: 10px;
    padding-top: 24px;
    }
.t1{
    background-color: #f8ac59;
}
.btn-next:hover{
    background-color:rgb(175, 175, 100);
    }
    .btn-complete:hover{
        background-color:rgb(175, 175, 100);
        }
